@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="mt-3">
        <p class="validation-message">@ErrorMessage</p>
    </div>
}

@code {

    [Parameter]
    public string ErrorMessage { get; set; }
}
